*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f5f8d5;
    color: #333;
    padding: 20px;

}


nav{
    background-color: #333;
    color: white;
    
}


header {
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}


header h1{
    text-align: center;
    padding-top: 20px;
    height: 80px;
    background-color: rgb(194, 114, 9);
}



footer{
    background-color: #333;
    color: #f9f9f9;
    text-align: center;
    height: auto;
    margin-top: 80px;
}