/* Responsive Grid */
@media (min-width: 366px) {
  .temple-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .temple-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    background-color: transparent;
    position: static;
    width: auto;
    border: none;
    justify-content: flex-end;
  }

  .navigation a {
    display: inline-block;
    padding: 0.5rem 0;
  }

  header {
    justify-content: space-between;
  }
}